# Snowflake アカウント情報
SNOWFLAKE_ACCOUNT_IDENTIFIER=hogehoge-hogehoge
SNOWFLAKE_ACCOUNT_NAME=hogehoge

# Snowflake 接続情報
SNOWFLAKE_MY_USER_NAME=hogehoge
SNOWFLAKE_MY_USER_PASSWORD=hogehoge
SNOWFLAKE_CLI_CONNECTION_NAME=hogehoge

# 作成 Snowflake ロール名
DATACATALOG_OWNER_ROLE_NAME=hogehoge
SIS_OWNER_ROLE_NAME=hogehoge
SIS_READER_ROLE_NAME=hogehoge

# 作成 Snowflake データベース名
DCM_DATABASE_NAME=hogehoge
DATACATALOG_DATABASE_NAME=hogehoge

# 作成 Snowflake コンピュート・プール名
DATACATALOG_COMPUTE_POOL_NAME=hogehoge

# 作成 Snowflake ウェアハウス名
DATACATALOG_WAREHOUSE_NAME=hogehoge

# 作成 Snowflake エクスターナル・インテグレーション名
EXTERNAL_ACCESS_PYPI_NAME=hogehoge

# 作成 Streamlit App タイトル名
STREAMLIT_TITLE_NAME=hogehoge
