SNOWFLAKE_ACCOUNT_IDENTIFIER=hogehoge-hogehoge
SNOWFLAKE_ACCOUNT_NAME=hogehoge
SNOWFLAKE_MY_USER_NAME=hogehoge
SNOWFLAKE_MY_USER_PASSWORD=hogehoge

SNOWFLAKE_CLI_CONNECTION_NAME=hogehoge

DCM_PROJECT_OWNER_ROLE_NAME=hogehoge
DCM_DATABASE_NAME=hogehoge

EXTERNAL_ACCESS_PYPI_NAME=hogehoge

SIS_COMPUTE_POOL_NAME=hogehoge
SIS_DATABASE_NAME=hogehoge
SIS_WAREHOUSE_NAME=hogehoge
SIS_ROLE_PREFIX=hogehoge

STREAMLIT_TITLE_NAME=hogehoge
