__pycache__
.agents/
.codex/
.env
.packages/
.pytest_cache/
.ruff_cache
.ruff.toml
.venv/
.vscode/
app.zip
dcm/manifest.yml
pyrightconfig.json
streamlit/.config/
streamlit/.streamlit/secrets.toml
streamlit/output/
streamlit/settings.py
streamlit/snowflake.yml
