digraph G {
  graph [
    rankdir=LR,
    fontname="sans-serif"
  ];

  node [
    shape=box,
    style="rounded,filled",
    fontname="sans-serif",
    fillcolor="white"
  ];

  edge [
    fontname="sans-serif"
  ];

{% for graph_node in nodes %}
  {{ graph_node.id | dot_quote }}{% if graph_node.attrs %} [{{ graph_node.attrs }}]{% endif %};
{% endfor %}

{% for graph_edge in edges %}
  {{ graph_edge.source | dot_quote }} -> {{ graph_edge.target | dot_quote }}{% if graph_edge.attrs %} [{{ graph_edge.attrs }}]{% endif %};
{% endfor %}
}
